{% extends '../base.html' %}

{% block header %}
    <title>UserAuth - Redefinir senha</title>
{% endblock %}

{% block content %}

    <!--Reset Password-->
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Redefinir senha</h2>
        <hr>
        <p>Esqueceu sua senha? Digite seu email abaixo e enviaremos um email de instruções para redefinição de
            senha.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }}
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div id="alerta" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="bi bi-x-circle-fill"></i> {{ message }}
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <button class="btn btn-primary" type="submit">Enviar e-mail</button>
        </form>
    </div>
{% endblock %}